.TaskForm-container {
  padding-left: 15px !important;
}
.TaskForm-container .TaskForm-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #dee1e6;
}
.TaskForm-container .TaskForm-head h1 {
  font-family: Outfit, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #171a1f;
}

.TaskForm-container .TaskForm-head button {
  width: 36px;
  height: 36px;
  background-color: white;
  cursor: pointer;
  border: none;
  margin-right: 50px;
}
.TaskForm-container .TaskForm-body {
  margin-top: 15px;
}
.TaskForm-container .TaskForm-body .body-title {
  font-family: Outfit, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
}

.TaskForm-container .TaskForm-body .TaskForm-body-form .input-name {
  margin-top: 10px;
  width: 100%;
}
.TaskForm-container .TaskForm-body .TaskForm-body-form label {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #424955;
}
.TaskForm-body-form label.error {
  color: red !important;
}
.TaskForm-container .TaskForm-body .TaskForm-body-form .input-name input {
  width: 526px;
  height: 35px;
  background-color: #f3f4f6;
  color: black;
  border: none;
  outline: none;
  padding-left: 15px;
}
.TaskForm-container .TaskForm-body .TaskForm-body-form input.error {
  color: red !important;
  border: 1px solid red !important;
}
.TaskForm-container
  .TaskForm-body
  .TaskForm-body-form
  input.error::placeholder {
  color: red !important;
}

.TaskForm-container
  .TaskForm-body
  .TaskForm-body-form
  .input-name
  input::placeholder {
  color: black;
}

.TaskForm-body-form .input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  margin-top: 25px;
  row-gap: 15px;
}
.TaskForm-body .input-wrapper .input-container input,
.TaskForm-body .input-wrapper .input-container select {
  width: 240px !important;
  height: 35px;
  background-color: #f3f4f6;
  border: none;
  outline: none;
  cursor: pointer;
}
.TaskForm-body .input-wrapper .input-container input.error,
.TaskForm-body .input-wrapper .input-container select.error {
  border: 1px solid red !important;
  color: red;
}

.TaskForm-body-form .form-description {
  padding: 15px;
  width: 527px;
  height: 135px;
  background-color: #f3f4f6;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #171a1f;
  outline: none;
  border: none;
}
.form-title {
  margin-top: 10px !important;
  display: block;
}

.TaskForm-body .form-footer {
  margin-top: 15px;
}
.TaskForm-body .form-footer select {
  width: 92% !important;
  height: 35px !important;
  background-color: #f3f4f6;
  border: none;
  outline: none;
  cursor: pointer;
}
.TaskForm-container .TaskForm-body .form-footer select.error {
  border: 1px solid red;
  color: red;
}
.TaskForm-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin-top: 30px;
}
.TaskForm-footer button {
  width: 136px;
  height: 44px;
  padding: 9px 16px 9px 16px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #535ce8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .TaskForm-container .TaskForm-body .TaskForm-body-form .input-name input {
    width: 300px;
    height: 35px;
  }
  .TaskForm-body-form .input-wrapper {
    display: block;
    width: 100%;
  }
  .TaskForm-body-form .input-wrapper .input-container input,
  .TaskForm-body-form .input-wrapper .input-container select {
    width: 300px !important;
    height: 35px;
  }
  .TaskForm-body-form .form-description {
    width: 307px;
    height: 181px;
  }
  .TaskForm-footer {
    height: 100px;
  }
}
