* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid black; */
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.5s;
}

.activeApp {
  opacity: 0.5 !important;
}

.Modal-container {
  width: 592px;
  height: 100vh;
  box-shadow: 0px 0px 1px 0px #171a1f26;
  box-shadow: 0px 0px 2px 0px #171a1f33;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
}
.Modal-container.active {
  display: block;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100%;
  z-index: 2;
}
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
.active-loader {
  top: 0;
}

.refresh-btn {
  background-color: #535ce8 !important;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: white !important;
  border-radius: 5px;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 500px) {
  .Modal-container {
    width: 340px;
    height: 100vh;
    border-radius: 15px;
    left: 25px;
    padding: 0px;
    top: 5px;
    position: fixed !important;
    overflow: auto;
  }
}
